# python:python General purpose programing Language

In [ ]:
print('hello welcome to the python World')

In [ ]:
variable: A field To Store The Value Is called variable
DataType: Datatype Specifies the Type of the Data
Types:
    1.String
    2.boolean
    3.int
    4.float

Type Convertion

In [ ]:

age ="24"
conage =int(age)
print(type(conage))

note:cant convert string to int
example:'kishore to 4826

DATA STructures in Python

Lists, Tuples,Dictionaries

# LISTS

List:List Is One Dimentional Array,it stores Different DataTypes,it can be changeble

In [ ]:
 #defining a list
l = ['kishore',12,True,7624.0]   
print(type(l))

In [ ]:
# Another type of defining
lm =list(['kishore',12,True,7624.0])
print(type(lm))

In [ ]:
print(l+lm)

In [ ]:
l.insert(3,100)

In [ ]:
print(l)

In [ ]:
l.append(34)

In [ ]:
print(l)

In [ ]:
l.count(12)

In [ ]:
l.pop(3)

# TUPLE

tuples are similar like Lists But it cant be Changeble>>> used for fixed Values like email,phone number ,fetche dfrom the data base

In [ ]:
# Defining of Tuuple
t =((1,3,4,5))
print(type(t))
print(t)
#another way of assiging
tl =tuple((1,4,4,3))
print(type(tl))

In [ ]:
tl =(('kishore',23,True,234.00))
print(type(tl))

In [ ]:
print(tl)

In [ ]:
#t[2]=10
#tuple' object does not support item assignment

In [ ]:
print(t+tl)

# DICTIONARIES

Dictionaries are used data can retrive easily from the data base>>>Exaple used in Flipcart like That Apps >>To Retrive data based on Key Values

In [ ]:
# defining  a dictionaries
d ={'brand':'lenovo','price':13313}
print(type(d))

In [ ]:
dl = dict({'brand':'lenovo','price':13313})

In [ ]:
print(type(dl))

# control Statements:To control the flow of execution of the program.
    types
    ****
    >conditional statements
    >loops`````````````````````````
    >jump statements

# conditional Statements

if:condition is used to execute when it is true

In [ ]:
name ='kishore'
if name=='kishore':
   print('welcome to these world kishore')

if-else: It is used to check two conditions

In [ ]:
if name=='kishore':
    print('welcome to the kishore')
else:
    print('please get out kishore')

if-elif-else:check more then two conditions

In [ ]:
a=100
if a>100:
    print('a is greater then 100')
    
elif a==100:
    print('a is equal to 100')
else:
    print(' a is nothing')

Nexted if is used check more conditions in nexted formate

In [ ]:
name='kishore'
age=24
graduate='ece'
if name=='kishore':
    print('welcome kishore')
    if age ==24:
        print('your age is correct')
        
        if graduate=='ece':
            print('welcome to ece')
        else:
            print('your not ece')
    else:
        print('your age is not 24 getout')
else:
    print('get out kishore')

# LOOPs

For loop: you know the range go for the  for loop

In [ ]:
for i in range(6):
    print(i*'*')

In [ ]:
l=['kishoer',23,343.35,True]
for i in l:
    print(i)

In [ ]:
for i in range(5):
    if i==4:
        break
    print(i)    
print('you completed at 4')

while loop: you dont know the range go for while loop

In [2]:
c = 0
while c < 5:
    print(c)
    c+=1

0
1
2
3
4

# Functions

In [7]:
10//2

5

In [8]:
10%2

0